m:root {
  --theme-color: #285685;
  --font-color: #ffc765;
  --shade1: rgba(242, 38, 19, 0.5);
  --shade2: rgba(0, 255, 255, 0.5);
}

body {
  background-color: black;
  font-family: Chaucer;
  color: var(--font-color);

  display: flex;
  justify-content: center;
}

.textCont {
  font-size: 150%;

  margin-top: 10%;
  margin-left: 5px;
  margin-right: 5px;
  width: 60%;
  height: 80%;
}

div.textCont::after {
  content: "|";
  animation: blinky 1s linear infinite;
}

@keyframes blinky {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
}

footer {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
}

footer > a {
  background-color: transparent;
  color: var(--font-color);
  font-weight: bold;
  font-family: "Megrim";
  font-size: 110%;
  text-decoration: none;
  padding: 5px 20px;

  border: 3px solid var(--font-color);
  transition: color 0.5s linear, box-shadow 0.5s ease-in;
}

.song {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  right: 5%;
  position: absolute;
}
.pause {
  cursor: pointer;
}
